<div>
  <div class="center-div">
    <form class="control-box">
      <div>
        Type number of cells and press 'Enter':
      </div>
      <div>
        <input name="cellCount" [type]="number" [(ngModel)]="cellCount" (keyup.enter)="submitInput()" (keypress)="checkInputKey($event)">
        <div [ngClass]="{'invisible' : !invalidCountInput}" class="errorText">Incorrect input format</div>
      </div>
      <div>
        <button (click)="stop()">Stop</button>
        <button (click)="reset()">Reset</button>
        <button [disabled]="!canActivate || cellCount.length === 0" (click)="activate()">Activate</button>
      </div>
    </form>
  </div>
  <div class="center-div">
    <table>
      <tbody *ngIf="blinkyReferences.length > 0">
        <tr *ngFor="let row of blinkyReferences; let i = index">
          <td *ngFor="let element of row; let j = index">
            <app-blinky [reference]="blinkyReferences[i][j]" [isRunning]="isRunning"></app-blinky>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>